@charset "UTF=8";

/* Styles for the whole web page */
html {
    display: block;
}

/* Styles for the body of the web page */
body {  
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/bg\ image.png);
}

/* Styles for the title*/
header {
    margin-top: 5%;
    margin-bottom: -1%;
    font-size: 300%;
    text-align: center;
    font-family: Castellar;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Styles for the navigation bar */
#nav { 
    text-align: center;
    list-style-type: none;
    font-size: 175%;
    font-family: Garamond, serif;
    background-color: rgb(175, 222, 247, 0.8);
    border: 1px solid #1a84a8;
    border-width: 3px;
    padding: 5px;
}

/* Styles for the nav bar */
li {
    display: inline;
}

/* Styles for nav bar links on hover */
li a:hover {
     background-color: #1a84a8;
    display: inline;
}

/* Styles for nav bar */
li a {
    color: #2f2f2f;
    text-decoration: none;
}

/* Styles for the explore paragraph */
#explore {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 200%;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    border-width: 3px;
    height: 140px;
    width: 1180px;
}

/* Styles for the grid container layout */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    float: left;
}

/* Styles for grid items layout */
.grid-item {
    text-align: center;
    font-size: 175%;
    font-family: Garamond, serif;
    background-color: rgb(175, 222, 247, 0.8);
    border: 2px solid #1a84a8;
    border-width: 3px;
    padding: 3px;
}

/* Styles for grid item links */
.grid-item a {
    text-decoration: none;
    color: black;
}


